.animate__animated {
  opacity: 0;
}

* {
  margin: 0;
}

html {
  font-size: calc(100vw/136.6);
  /* 1W = 10px = 1rem  */
}

body {
  color: #24292e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, button {
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

li {
  list-style: none;
}

a:hover, .button:hover, i:hover {
  opacity: 0.5;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

img {
  vertical-align: bottom;
}

.box {
  max-width: 80rem;
  margin: 0 auto 13rem auto;
  font-size: 1.4rem;
  padding: 0 1%;
}

.site-title {
  line-height: 1px;
}

.site-title a {
  display: block;
}

.sec-title {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 6.5rem;
  color: #3b5441;
}

.header {
  max-width: 80rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.2rem auto;
}

.header img {
  width: 30rem;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header ul li {
  font-size: 1.4rem;
  margin-left: 4rem;
}

.header ul li a {
  display: inline-block;
  position: relative;
  color: #24292e;
}

.header ul li a:hover {
  opacity: 1;
}

.header ul li a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.2rem;
  width: 100%;
  height: 0.18rem;
  background: #3b5441;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header ul li a:hover:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.main_visual {
  margin-bottom: 8rem;
  position: relative;
}

.main_visual__fade:before {
  content: "";
  display: block;
  padding-top: 100vh;
}

.main_visual__image {
  display: none;
}

.main_visual__image img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
  vertical-align: bottom;
  position: absolute;
  top: 0;
}

#about ul {
  margin-bottom: 3rem;
}

#about li:first-child {
  margin-bottom: 3rem;
}

#about p {
  text-align: justify;
}

#works ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

#works li {
  width: 31%;
  margin-bottom: 23px;
}

#blog a {
  font-size: 1.6rem;
  color: #3b5441;
  font-weight: bold;
  font-style: italic;
}

#contact dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2rem;
}

#contact dt {
  width: 15%;
}

#contact dd {
  width: 85%;
  margin-bottom: 1rem;
}

#contact dd input,
#contact dd textarea {
  width: 100%;
  border: solid 0.1rem #c8c8c8;
  padding: 1rem;
}

#contact dd textarea {
  height: 10rem;
}

#contact .button {
  text-align: center;
}

#contact .button input {
  width: 20rem;
  background-color: #3b5441;
  color: #fff;
  padding: 1.5rem 0;
  border: solid 0.1rem #3b5441;
  border-radius: 0.6rem;
}

.page_top i {
  display: block;
  color: #3b5441;
  font-size: 4rem;
  text-align: right;
  margin-right: 1.5rem;
}

#footer {
  background-color: #3b5441;
  color: #fff;
  font-size: 0.7rem;
  padding: 0.8rem 2rem;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .box {
    margin-bottom: 7rem;
  }
  .site-title {
    margin-top: 2rem;
  }
  .sec-title {
    margin-bottom: 4rem;
  }
  .header {
    max-width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header img {
    width: 70rem;
  }
  .header li {
    font-size: 0.8rem;
    margin-left: 2rem;
  }
  .header li:first-child {
    margin-left: 0;
  }
  #works ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #works li {
    width: 100%;
  }
  #contact dl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact dt {
    width: 100%;
  }
  #contact dd {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */